<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Piscina a Roma</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <header>
    <h1></h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/books/">Books</a></li>
        <li><a href="/aboutUs/">About Us</a></li>
        <li><a href="/contact/">Contact Us</a></li>
      </ul>
    </nav>
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
  <footer>
    <p>The BookVerse Team
      - Tel. 06 3453382809
    </p>
  </footer>
  </body>
  </html>
  
  
  