
<style> 

 #book {
  display: flex;
  flex-direction: row;
  gap:10px;
  border : 1px solid black;
  padding:10px;
  border-radius: 10px;
  min-height: 200px;
 }
 #book img {
 
 }
 #book-item:hover {
  border:2px solid gray;
  transition: 1s;
 }

 #book-name {}
  </style>
{% extends "books/base.html" %}

{% block content %}
  <section id="hero">

    <div
    id = "book"
    style="justify-content: center;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 30px;
      padding:20px
    "
    >
   
    {% if books  %} 
    
    {% for book in books %}
    <a href="/book/{{ book.id }}">
    <div
    id = "book-item"
    style="align-items: center;
    display: flex;
    flex-direction: column;
    "
    >
    <img src="../static/book_images/{{ book.name}}.jpg" alt="{{ book.name }}" 
      style="width: 300px;height:400px;"
    >
      <p
      id="#book-name"
      style="text-align: center;color: #000;
        font-size: 20px;
      "
      >
        {{book.name.capitalize }}
      </p>
    </div>
    </a>
    {% endfor %}

    
  </div>
    
    {% endif %}
    
   
  </section>
{% endblock %}
