{% extends "books/base.html" %}

{% block content %}
  <section id="piscine">
    <div

    style = "display: flex;
      flex-direction: row;
    "
    >
    <div
      style = "display: flex;
        flex:2;
        flex-direction: column;
        padding: 20px;
      "
    >


    <img src="../static/book_images/{{ book.name}}.jpg" alt="{{ book.name }}" 
    style="width: 150px;height:200px;"
  >
  <h1>
    {{ book.name }}
    
    </h1>
    <p> abstract: {{ book.abstract }}</p>
    <p>
      
     
      page size : {{ book.pageSize }}
    </p>
  </div>
  <div
  class ='Author'
  style="display: flex;
    flex:1;
    flex-direction: column;
      padding: 20px;
    "

  >
  <div
    style="
      width: 150px;
      height: 200px;
      border: 1px solid black;"
    
  >
    <img src="../static/author_images/{{author.image}}" alt="" 
      style="width: 150px;height:200px;"
    >

  </div>
  
  <p
    style="margin-top: 20px;"
  >{{author.name}}</p>
  {{author.bio}}
  </div>
    

  </div>
  <a href="/" class="btn">Back to home page</a>
    </section>
{% endblock %}