{% extends "books/base.html" %}

{% block content %}
  <section id="piscine">
    <div

    style = "display: flex;
      flex-direction: row;
    "
    >
    <div
      style = "display: flex;
        flex:2
      "
    >


    <img src="{{ pool.image.url }}" alt="{{ pool.name }}" >
    <p>{{ pool.abstract }}</p>
    <p>
      {{ book.name }}<br />
      {{ book.pageSize }}
    </p>
  </div>
  <div
  class ='Author'
  style="display: flex;
    flex:1;
    flex-direction: column;"
  >
  <div
    style="
      width: 100px;
      height: 100px;
      border: 1px solid black;"
    
  >
    <img src="{{ author.image }}" alt="" 
      
    >

  </div>
  
  <p
    style="margin-top: 20px;"
  >{{author.name}}</p>
  {{author.bio}}
  </div>
    

  </div>
  <a href="/pools/pools" class="btn">Back to all the pools</a>
    </section>
{% endblock %}